:root {
    --blue-100: #e3f2fd;
    --blue-200: #90c9f9;
    --blue-400: #6cb0b8;

    --note-pink: #f5b6da; 
    --note-purple: #E1BEE7;
    --note-blue:#BBDEFB; 
    --note-green: #ade8b5;
    --note-yellow: #FFF9C4;
    --note-orange: #FFE0B2;
}