.noteList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.allNotes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.note {
  background-color: #ade8b5;
  width: 150px;
  height: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  transition: all 0.3s ease;
  padding: 2rem 1.5rem;
  overflow-wrap: break-word;
  overflow: auto;
  position: relative;
}

.expand {
  position: absolute;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  top: 50px;
  left: 50px;
  z-index: 1;
}

.editText {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: text;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4rem;
}

.expandIcon {
  position: absolute;
  right: 0px;
  top: 0;
}
