.toast {
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-size: 12px;
    width: 180px;
  }